html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--dove-gray);
    position: sticky;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-text {
    text-align: center;
    font-size: 3vh;
}

.cookie {
    width: 2vw;
    align-self: center;
    margin-left: 0.4vw;
}
